.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

#clock {
    text-align: center;
    font-size: x-large;
    border: 2px dashed lightgreen;
}  

p a {
    display: flex;
    text-align: center;
}